In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('miss').getOrCreate()

In [2]:
df = spark.read.csv('/FileStore/tables/ContainsNull-1.csv', inferSchema=True, header = True)

In [3]:
df.show()

In [4]:
# row should atleast have two threshold values for dropping the values
df.na.drop(thresh = 2).show()

In [5]:
# drops the rows if any null values
df.na.drop(how = 'any').show()

In [6]:
# drops the rows if all values are null 
df.na.drop(how = 'all').show()

In [7]:
df.na.drop(subset = ['Sales']).show()

In [8]:
df.printSchema()

In [9]:
# fills string value to any string column that has missing value
df.na.fill('FILL VALUE').show()

In [10]:
# fills up numeric value to the numeric column 
df.na.fill(0).show()

In [11]:
df.na.fill('No Name', subset = ['Name']).show()

In [12]:
from pyspark.sql.functions import mean

In [13]:
mean_val = df.select(mean(df['Sales'])).collect()

In [14]:
mean_sales = mean_val[0][0]

In [15]:
df.na.fill(mean_sales, ['Sales']).show()

In [16]:
df.na.fill(df.select(mean(df['Sales'])).collect()[0][0],['Sales']).show()