In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('Basics').getOrCreate()

In [3]:
df = spark.read.json('/FileStore/tables/people-2.json')

In [4]:
df.show()

In [5]:
df.printSchema()

In [6]:
df.columns

In [7]:
# will give the output in DataFrame format with the column names not the whole DF
df.describe()

In [8]:
# displays the summary with describe().show()
df.describe().show()

In [9]:
from pyspark.sql.types import StringType, StructField, IntegerType, StructType

In [10]:
data_schema = [StructField('age', IntegerType(), True),
              StructField('name', StringType(), True)]

In [11]:
final_stru = StructType(fields = data_schema)

In [12]:
df = spark.read.json('/FileStore/tables/people-2.json', schema = final_stru)

In [13]:
df.printSchema()

In [14]:
type(df['age'])

In [15]:
df.select('age').show()

In [16]:
type(df.select('age').show())

In [17]:
df.head(2)[0]

In [18]:
type(df.head(2)[0])

In [19]:
# if we want to view any two columns
df.select(['age','name']).show()

In [20]:
# creating new column, changes aren't permanent on the original dataframe
df.withColumn('double_age',df['age']*2).show()

In [21]:
df.show()

In [22]:
# renaming a column
df.withColumnRenamed('age', 'my_new_age').show()

In [23]:
# spark.sql we'd have to reg the spark df as a temp table for storing it into the catalog 
df.createOrReplaceTempView('people')

In [24]:
results = spark.sql('SELECT * FROM people')

In [25]:
results.show()

In [26]:
new_results = spark.sql('SELECT * FROM people WHERE age=30')

In [27]:
new_results.show()